form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form label {
  width: 100px;
}

form button {
  width: fit-content;
}

.form__input {
  display: flex;
  gap: 4px;
  align-items: center;
}

.form__input--valid {
  visibility: hidden;
}

.form__input--error {
  visibility: visible;
  color: red;
  font-size: 12px;
}
